<div class='inline-block w-96 border border-pink-300 rounded-xl text-left p-3 m-5 bg-pink-300 shadow-xl'>
    <div class='flex justify-between'>
        <a href='index.php?page=recipes'><img src='img/icons/close.png' class='w-7 h-7'></a>
        {% include 'buttons/addProductsButton.twig' %}
    </div>
    {% if pickToModifyRecipeName %}
        <h1 class='text-center text-2xl font-bold underline mb-3 items-center'><input name='recipeName' size='12' value='{{ recipe.recipeName }}'>{% include 'buttons/modifyRecipeNameButton.twig' %}{% include 'buttons/cancelButton.twig' %}</h1>
    {% else %}
        <h1 class='text-center text-2xl font-bold underline mb-3 items-center'>{{ recipe.recipeName }}
            {% include 'buttons/pickToModifyRecipeNameButton.twig' %}
        </h1>
    {% endif %}
    {% set step = 0 %}
    {% for data in ingredients %}
        {% for product in products %}
            {% if data.productId == product.id %}
                {% if step == 0 %}
                    {% set bg = 'bg-pink-200' %}
                    {% set step = step + 1 %}
                {% else %}
                    {% set bg = 'bg-pink-100' %}
                    {% set step = step - 1 %}
                {% endif %}
        
                <div class='p-3 {{ bg }} flex justify-between items-center'>
                    <span>{{ product.productName }}</span>
                    <div class='flex items-center'>
                        {% if pickToModify == data.id %}
                            <span class='pr-3'>
                                <input name='amount' size='10' value='{{ data.amount }}'>
                            </span>
                            <input type='hidden' name='recipeId' value={{ recipe.id }}>
                            <input type='hidden' name='productId' value={{ data.productId }}>
                            {% include 'buttons/modifyButton.twig' %}
                            {% include 'buttons/cancelButton.twig' %}
                        {% else %}
                            <span class='pr-3'>{{ data.amount }} {{ product.unit }}</span>
                            {% if currentPage == 'ingredients' %}
                                <input type='hidden' name='currentId' value={{ recipe.id }}>
                                {% include 'buttons/pickToModifyButton.twig' %}
                                {% include 'buttons/deleteIngredientButton.twig' %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    <div class='p-3 mt-5 bg-pink-100 flex justify-between items-center border border-solid border-pink-400'>
        <select name='newProductId'>
            {% for product in products %}
                <option value='{{ product.id }}'>{{ product.productName }} / {{ product.unit }}</option>
            {% endfor %}
        </select>
        <div class='flex items-center'>
            <span class='pr-3'>
                <input name='newAmount' size='10' placeholder='Menge'>
            </span>
            <input type='hidden' name='currentId' value={{ recipe.id }}>
            <input type='hidden' name='recipeId' value={{ recipe.id }}>
            {% include 'buttons/addIngredientsButton.twig' %}
        </div>
    </div>
</div>